:root.theme-light, 
.theme-dark .page {
  --h1-text-color: rgba(219, 0, 255, 1);
  --h1-text-color-shadow: rgba(255, 0, 112, 1);

  --header-text-color: #000028;

  --background-p-color: #FF0070;
  --background-color: #000028;

  --link-color-shadow: #FF0070;

  --button-color: #FF0070;

  --h2-text-color: #FF0070;
  --h3-text-color: #000028;
  --p-text-color: rgba(241, 178, 206, 1);

  --url-header-img: url(../images/cover-image-dark.png);
}
