/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --accent-color: #FF0070;
  --decorative-color: #FF0070;
  --main-title-text-color: #DB00FF;
  --main-title-text-size: 157px;
  --main-text-size: 18px;
  --main-title-shadow-color: #FF0070;
  --background-image-url: url(../images/cover-image-dark.png) ;
  --button-color: #FF0070;
  --main-font-reg: 'IBM Plex mono', monospace;
  --on-accent-color: #000;
  --main-text-color: #F1B2CE;

  --h1-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --h1-size-tablet: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  --padding-block-start-val-mobile: 50px;
  --padding-block-start-val-desctop: 80px;

  --padding-mobile: 10px 10px 10px;
  --padding-desktop: 20px 20px 20px;
}
